/* line 2, E:/Start2Go/Proforum-online-2/proforum-online-2-repo/dev/sass/2-modules/_footer.sass */
.footer__social {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  background-image: url(assets/img/icons-sprite.png);
  border-radius: 15px; }
  /* line 9, E:/Start2Go/Proforum-online-2/proforum-online-2-repo/dev/sass/2-modules/_footer.sass */
  .footer__social--fb {
    background-position: 5px 30px; }
