.registration-page
    margin-top: 55px
    padding-bottom: 60px
    padding-bottom: 60px
    h2
        font-family: $font-roboto
        font-weight: 300
        margin-bottom: 60px
.form-wrapper
        margin: auto
        width: 540px
        background-color: #e9edf1
        border: 1px solid #d5dfe9
        padding: 30px 25px 0
        border-radius: 12px

        form
            input[type='text'],
            input[type='email'],
            input[type='tel'],
            input[type='number'],
            textarea
                color: #555555;
                padding-left: 5%;
                width: 95%;
                border-radius: 6px;
                border: 1px solid #d5dfe9;
                background-color: #FFF
                &:focus:not([readonly])
                    border-bottom: 1px solid #d5dfe9;
                    box-shadow: none;
            input[type='text'],
            input[type='email'],
            input[type='tel'],
            input[type='number']
                height: 40px
            label,
            p
                color: #555555
                font-size: 15px
                font-weight: 400
            span
                color: #ff5151
            
            input[type=text].valid, 
            input[type=text]:focus.valid, 
            input[type=email].valid, 
            input[type=email]:focus.valid,
            input[type=tel].valid, 
            input[type=tel]:focus.valid, 
            input[type=number].valid,
            input[type=number]:focus.valid,
            textarea.materialize-textarea.valid,
            textarea.materialize-textarea:focus.valid         
                border: 1px solid #4CAF50 !important
                box-shadow: none !important
                border-bottom: 1px solid #4CAF50 !important
            input[type=text].invalid, 
            input[type=text]:focus.invalid, 
            input[type=email].invalid, 
            input[type=email]:focus.invalid,
            input[type=tel].invalid, 
            input[type=tel]:focus.invalid, 
            input[type=number].invalid,
            input[type=number]:focus.invalid,
            textarea.materialize-textarea.invalid,
            textarea.materialize-textarea:focus.invalid
                border: 1px solid #F44336 !important
                box-shadow: none !important
                border-bottom: 1px solid #F44336 !important

            [type="checkbox"].filled-in:checked+label:after
                border: 1px solid #26a69a;
                background-color: #fff;
            [type="checkbox"].filled-in:checked+label:before
                border-right: 2px solid #666666;
                border-bottom: 2px solid #666666;
            input[type="submit"]
                font-family: 'Open Sans',sans-serif
                font-weight: 700
                background-color: #ff527a
                color: #fff
                padding: 0 20px
                border-radius: 20px
                height: 40px
                border: none
                line-height: 40px
                width: 100%
                margin-top: 20px
            [type="checkbox"].filled-in:not(:checked)+label:after
                background-color: #FFF
                border: 1px solid #5a5a5a;

@media screen and (max-width: $mobile)
    .form-wrapper
        width: 280px