#about
  margin-bottom: 0
  background-image: url("../img/about.jpg")
  background-size: 50%
  background-repeat: no-repeat

.about
  &--left
    .about__part
      padding: 150px 80px 0 0
      margin-left: auto
      text-align: center
      color: #fff
      font-size: 24px
      font-weight: 300
  &--right
    h2
      text-align: left
    .about__part
      padding-left: 60px
      font-size: 17px
    .about__part__button
      @extend .registration__button
      width: 100%
      margin: 40px auto


@media (min-width: $large)
  .about__part
    width: 480px !important

@media (max-width: $large - 1)
  #about
    background: none
  .about
    &--bg
      background-image: url("../img/about.jpg")
      background-size: cover
      background-repeat: no-repeat
    &--left
      .about__part
        padding: 80px 15%

    &--right
      h2
        text-align: center
        margin-top: 40px
        margin-bottom: 40px
      .about__part
        padding: 0 7.5%