.bonuses
  text-align: center
  background-color: $beige
  .bonuses__img
    display: block
    width: 85px
    height: 67px
    margin: auto
    margin-bottom: 30px
    &--idea
      background-image: url("../img/icons-sprite.png")
    &--questions
      background-image: url("../img/icons-sprite.png")
      background-position: -90px 0
    &--glob
      background-image: url("../img/icons-sprite.png")
      background-position: -180px 0
    &--growth
      background-image: url("../img/icons-sprite.png")
      background-position: 0 -90px
    &--pulse
      background-image: url("../img/icons-sprite.png")
      background-position: -90px -90px
    &--comm
      background-image: url("../img/icons-sprite.png")
      background-position: -180px -90px

  &__text
    font-size: 20px
    font-weight: 300
    line-height: 1.4

@media (max-width: $tablet) and (min-width: $mobile - 1)
  .bonuses 
    .row>div
      height: 230px;
