.contacts
  background-color: $beige
  padding-top: 50px
  padding-bottom: 60px
  h2
    margin-bottom: 70px
    margin-top: 0
  &__item
    color: #444444
    &__title
      @extend .review__item__details__name
      font-size: 19px
    &__position
      @extend .review__item__details__position
    &__text
      font-weight: 700
      margin-bottom: 10px
      span
        text-decoration: underline
  