.footer
  padding-top: 20px
  &__section
    a
      vertical-align: middle
      margin-right: 15px
    &:first-child
      border-right: 1px solid black
    span
      font-weight: 700
      margin-right: 25px
  &__logo
    display: inline-block
    margin-right: 25px
    margin-left: 70px
    img
      max-width: 145px
    &--braini
      margin-right: 0
      img
        width: 48px

  &__social
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons-sprite.png");
    border-radius: 15px;
    &--vk
      background-position:-1px 29px;
      background-color: #446c98
    &--fb
      background-position: -29px 28px;
      background-color: #4e6ab1
    &--yo
      background-position: -57px 27px;
      background-color: #cc181e

@media (max-width: $tablet) 
  .footer__section
    width: 100%
  .footer__section:first-child
    border-right: none!important
    border-bottom: 1px solid black
    padding-bottom: 20px
    margin-bottom: 20px

@media (max-width: 450px) 
  .footer__logo
    margin-left: 0px