.nav
  height: 55px
  .button-collapse
    height: 55px
    line-height: 55px
    color: $pink
  &__logo
    img
      height: 44px
      margin-top: 6px
  ul
    li
      line-height: 55px
      &:hover
        background-color: transparent
      &:last-child
        margin-left: 25px
        box-shadow: none

        a
          font-family: 'Open Sans', sans-serif
          background-color: $pink
          color: #fff
          padding: 0 20px
          border-radius: 20px
          height: 40px
          line-height: 40px

          &:hover
            color: #fff
      a
        color: $black
        padding: 0 15px

        &:hover
          color: $pink
.navbar-fixed
  height: 55px
@media (max-width: 992px)
  .nav 
    .container
      text-align: center
    .side-nav
      text-align: left
    ul 
      li:last-child
        margin: auto
