.hero
  height: 600px
  .section
    width: 100%
  &__container
    padding-top: 240px
    text-align: center
    h1
      color: white
      margin-bottom: 20px
    p
      font-size: 17px
      color: white
      margin-bottom: 40px
    &__btn
      border-radius: 20px
      background-color: $blue
      &:hover
        background-color: #8BBCF4
        color: white

@media (max-width: 992px)
  .hero
    500px
    &__container
      padding-top: 150px
    h1
      font-size: 58px

@media (max-width: 600px)
  .hero
    &__container
      padding-top: 80px

@media (max-width: 530px)
  .hero
    height: auto
    padding-bottom: 20px
    h1
      font-size: 48px