.organizers
  background-image: url("../img/blue-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding-top: 80px
  padding-bottom: 110px
  h2
    text-align: center
    margin-bottom: 60px
  p
    font-size: 18px
    font-weight: 300
  &__logo
    display: table
    height: 67px
    margin-bottom: 30px
    div
      display: table-cell
      vertical-align: bottom
      line-height: 0

  .organizers__name
    font-weight: 700
    margin-bottom: 10px