.program
  background-image: url("../img/blue-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding-top: 80px
  h2
    margin-bottom: 35px
    text-align: center
  &__nav
    display: none
    .tab
      background-color: transparent
    a
      color: $pink
      font-weight: 700
      font-size: 18px
  &__registration
    width: 100%
    background-color: $pink
    margin-top: 45px
    text-transform: uppercase
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    line-height: 60px;
    &:hover
      background-color: #F76184
      color: #fff
.day
  padding: 30px 25px 1px;
  &:hover
    background-color: #FFF
  &__date
    background-color: $pink
    border-radius: 14px
    color: #fff
    font-weight: 700
    font-size: 16px
    display: inline-block
    padding: 2px 16px
    margin-bottom: 10px
  h3
    font-weight: 300
    font-size: 30px
    margin-bottom: 20px
    margin-top: 0
  &__intro
    font-weight: 400
    line-height: 22px
    font-size: 15px
    span
      font-weight: 700
      font-size: 18px
  &__section
    &__time
      color: $pink
      display: inline
      font-weight: 700
      font-size: 17px
    &__speaker
      color: #666666
      display: inline
      margin-left: 20px
      font-size: 14px
    &__intro
      font-size: 17px
      font-weight: 400
      line-height: 22px



@media(max-width: 992px)
  .program__nav
      display: block
  .day
    &:hover
      background-color: transparent
    &__date
      span
        display: none
