.registration
  background-image: url("../img/blue-bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  padding-top: 80px
  padding-bottom: 50px
  h2
    margin-bottom: 50px
  &__button
    @extend .registration__item__button
    margin: auto
    display: block
    width: 250px
    margin-top: 40px

  &__item
    border: 3px solid $silver
    background-color: #FFF
    text-align: center
    padding-bottom: 20px
    &__button
      border-radius: 20px
      background-color: $pink
      font-weight: 700
      &:hover
        background-color: #F76184
        color: #fff
    &__time
      background-color: $silver
      color: #fff
      font-size: 27px;
      font-weight: 300;
      padding: 20px;
    &__price
      color: $text-gray
      font-family: $font-pt
      font-size: 36px
      margin-bottom: 10px;
      margin-top: 20px;
      span
        font-size: 34px
    &--active
      border-color: $pink
      .registration__item__time
        background-color: $pink
      .registration__item__price
        color: $pink
        span
          color: #000

@media (max-width: $tablet)
  .registration__item
    border: none
    background-color: #FFF
    text-align: left
    margin-bottom: 20px
    &__time
      display: block
      height: 50px
      vertical-align: middle
      line-height: 50px
      padding: 0 20px
      font-size: 20px
      margin-bottom: 20px
    &__price
      display: inline-block
      font-size: 30px
      margin-left: 20px
      margin-top: 0
      span
        margin-right: 10px
        font-size: 26px

      br
        display: none
    &__button
      float: right
      margin-top: 10px;
      margin-right: 10px;
      &--nofloat
        float: none
        margin: auto

@media (max-width: 450px)
  .registration__item__price
    font-size: 24px
    span
      font-size: 20px

@media (max-width: 350px)
  .registration__item__button
    float: none
    display: block
    margin-left: 10px