.speakers
	margin-top: 80px
	h2
		margin-bottom: 60px
	&__details
		&__name
			color: $pink
			font-size: 20px
			font-family: $font-pt



@media (max-width: $mobile)
	.speakers__img,
	.speakers__details__name
		text-align: center

@media (min-width: $large)
	.speakers__img
		margin-bottom: 165px