.story
  text-align: center
  padding-bottom: 60px
  padding-top: 70px
  h2
    margin-bottom: 40px
  &__subtitle
    font-size: 32px
    font-weight: 300
    margin-bottom: 0px
  .flex-video-wrap
    width: 70%
    margin: auto
    margin-bottom: 40px
  .flex-video
    height: 0
    margin-bottom: 0.88889rem
    overflow: hidden
    padding-bottom: 56%
    position: relative

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video
  height: 100%
  position: absolute
  top: 0
  width: 100%
  left: 0

.review
  margin-top: 40px
  text-align: left
  &__item
    margin-bottom: 40px
    &__img
      text-align: right
    &__details
      &__name
        color: $pink
        display: block
        font-family: $font-pt
        font-size: 20px
        line-height: 1
      &__position
        color: #b55a6f
        font-size: 16px
        margin-bottom: 10px
        display: block




@media (max-width: $mobile)
  .review__item__img
    text-align: center

  .review__item__details__name,
  .review__item__details__position
    text-align: center