.who
  height: 500px
  &__container
    padding-top: 100px
    color: #fff
    text-align: center
    h2
      color: #fff
    p
      font-size: 24px
      font-weight: 300
  &__separator
    margin: 40px auto
    width: 100px
    height: 4px
    background-color: $blue
@media (max-width: $mobile)
  .who__container
    padding-top: 30px
    p
      font-size: 20px