body
  background-color: $white
  font-size: 14px
  line-height: 1.6
  font-family: 'Roboto', sans-serif
  color: $black
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

@media only screen and (min-width: 1030px)
  .container
    width: 990px

@media only screen and (min-width: 993px) and (max-width: 1029px)
  .container
    width: 950px